
.App-header {
  background-color: #F7FAFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.invalid-feedback {
  font-size: 12px;
}
.col-form-label {
  font-size: 14px;
}
.toast-danger {
  color: #842029 !important;
  background-color: #f8d7da !important;
  border-color: #f5c2c7 !important;
}
.toast-success {
  color: #0f5132 !important;
  background-color: #d1e7dd !important;
  border-color: #badbcc !important;
}
.image-card {
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.submit-button {
  float: right;
  margin-right: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
